@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Arvo', serif;
}

div.posts {
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.posts ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts ul li {
  background: rgb(245, 245, 245);
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 40px;
  border: 2px solid #d8d8d8;
  border-radius: 15px;
}

img {
  width: 800px;
  height: 800px;
  background-color: grey;
  display: block;
  margin: 0 auto;
}






  