{% extends "layout.html" %}
{% block body %}
    <div class="posts">
        <ul>
            {% for item in items %}
            <li> <a href="{{url_for('noodle', id=item.id)}}"><img src="static/images/{{item.image}}"></img></a>
                <span>{{ item.name }}</span>
                <span>{{ item.description }}</span>
                <span>{{ item.spice }}</span>
                <span>{{ item.sodium }}</span>
                <span>{{ item.price }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
