<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="posts">
        <ul>
            {% for item in items %}
            <li><img src="static/images/{{item.image}}" width="800" height="800">{{ item.image}}</img>
                <span>{{ item.name }}</span>
                <span>{{ item.description }}</span>
                <span>{{ item.spice }}</span>
                <span>{{ item.sodium }}</span>
                <span>{{ item.price }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
  
</body>
</html>