{% extends "layout.html" %}
{% block body %}
    <div class="posts">
        <ul>
            {% for item in items %}
            <li><img src="static/images/{{item.image}}"></img>
                <span>{{ item.name }}</span>
                <span>{{ item.description }}</span>
                <span>{{ item.spice }}</span>
                <span>{{ item.sodium }}</span>
                <span>{{ item.price }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
